#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

h1 {
	padding-top: 10px;
	font-family: 'Fugaz One', cursive;
	-webkit-transition: font-size 1.5s;
	transition: font-size 1.5s;
}

h1:hover{
	font-size: 9.25vw;
}

h4 {
	font-size: 4vw;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 20px;
	padding-bottom: 10px;
}

.nametag {
	border: solid;
	border-color: black;
	background-color: white;
  margin-bottom: 5px;
}

.navbutton {
  border: solid;
  border-color: black;
  background-color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15pt;
  margin: 10px 10px 10px 10px;
}

.navbutton:hover {
  background-color: #A6DEFC;
  border-color: #A6DEFC;
  -webkit-transition: background-color 1s;
  -webkit-transition: border-color 1s;
	transition: background-color 1s;
  transition: border-color 1s;
}

@media screen and (min-width: 400px) {
	h1 {
		font-size: 9vw;
	}
}
@media screen and (min-width: 1000px) {
	h1 {
		font-size: 9vw;
	}
}
